{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo" id="logo">
           <a href="{% static 'Fundoramain.html' %}"> <img src="{% static 'logo.jpg' %}" class="logoimg" alt="logo"> </a> 
        </div>
        <form class="form" id="form">
        <label for="first-name">First Name :</label><br>
        <input type="text" name="First-name" id="first-name" /><br>   
        <label for="last-name">Last Name :</label><br>
        <input type="text" name="last-name" id="last-name" /><br>
        <label for="user-name">User Name :</label><br>
        <input type="text" name="user-name" id="user-name" /><br>
        <label for="Phone-no">Phone No :</label><br>
        <input type="text" name="Phone-no" id="Phone-no" /><br>
        <label for="Password">Password :</label><br>
        <input type="password" name="Password" id="password" /><br>
        <label for="ConfirmPass">Confirm Password :</label><br>
        <input type="password" name="ConfirmPass" id="Specs" /><br>
        <button type="submit "class="submit" id="submit">Submit</button><br><br>
        <!--new changes-->
        <p class="account">Already have an account? <a href="#" onclick="displayLogin()" class="hide">Sign in</a></p>
        
        </form>
        <!--new changes-->
        
        
        

        
        
        <!--new changes-->
        <form class="form1" id="form1">
        <label for="User-name">User Name :</label><br>
        <input type="text" name="Product-Specs" id="User-name" /><br>
        <label for="Password">Password :</label><br>
        <input type="password" name="Password" id="Specs" /><br>
        <button type="submit "class="submit" id="submit">Log in</button><br><br>
        <p class="account">Dont have an account? <a href="#" class="hide" id="hide" onclick="logoHeight()">Sign up</a></p>
        </form>
        <!--new changes-->
    </header>
    <script src="{% static 'app.js' %}" defer></script>
</body>
</html>