*{
    padding: 0%;
    box-sizing: border-box;
    font-size: 30px;
    margin: 0 auto;
    font-family: sans-serif;
}

body{
    background-color: #253439;
    
}

header{

    display: flex;
    justify-content: space-around;
flex-wrap: wrap;
}
.loginsignup{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color:#F6F6E9;
    height: 30px;
    }
    
    .logsign{
        width: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .ls{
    
        padding-left: 10px;
        padding-right: 10px;
        width: 80px;
        height: 100%;
        color:#FA6559;
    
    }
    .ls:hover{
    
        color:#F7B9A1;
        transition:.45s;
    
    }
    
    .navbar{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:80px;
        margin-bottom: 100px;
        background-color:  #61A6AB;
    }
    
    .navigation{
        
        display: flex;
        justify-content: space-around;
      width: 700px;
        align-items: center;
        margin-left: 80px ;
        margin-right: 80px;
      
    }
    
    .navli{
        color: #F6F6E9;
        display: flex;
        justify-content: space-around;
        height: 80px;
        width: 120px;
    
        align-items: center;
        font-size: 18px;
    }
    
    .navli:hover{
    
        color: #FFCE6D;
        transition: .45s;;
    }
.form{
    /* width: 1440px; */
    padding: 30px 60px;
    border-radius: 10px;
    background-color: white;
    /* position: absolute;
    left: 75%;
    top: 50%; */
    /* transform: translate(-50%,-50%); */
    font-size: 20px;
}
.form label{
    font-size: 15px;
}
.form button{
    font-size: 20px;
    padding: 6px 15px;
    background-color: #61A6AB;
    border: 1px #61A6AB solid;
    border-radius: 10px;
    color: white;
}
.form button:hover{
    background-color: #8cc5ca;
    transition: 0.5s;
    color: black;
}
input{
    margin-bottom: 15px;
}
.logo{
    /* position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%); */
    
    border-radius: 10px;
    margin-bottom: 90px;
   
}
.logo img{
    border: 2px white solid;
    border-radius: 10px;
    max-height: 500px;
}


/*new changes*/
.form.visible{
    display: none;
}
.account{
    font-size: 20px;
}
.account a{
    font-size: 20px;
}
.form1{
    max-width: 1440px;
    z-index: 1;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.form1 label{
    font-size: 15px;
}
.form1 button{
    font-size: 20px;
    padding: 6px 15px;
    background-color: #61A6AB;
    border: 1px #61A6AB solid;
    border-radius: 10px;
    color: white;
}
.form1 button:hover{
    background-color: #8cc5ca;
    transition: 0.5s;
    color: black;
}
.form1.visible{
    display: none;
}
.hide{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 15px;
    background-color: #61A6AB;
    border: 1px #61A6AB solid;
    border-radius: 10px;
    color: white;
}
.hide a:hover{
    background-color: #8cc5ca;
    transition: 0.5s;
    color: black;
    cursor: context-menu;
}