*{
    font-family: sans-serif;
    font-size: 25px;
}
body{
    background-color: #2980b9;
}
.main{
    max-width: 1440px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    z-index: 10;
}
.main.visible{
    display: none;
}
.laptop.visible{
    display: block;
}
.laptop{
    max-width: 1440px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    z-index: 9;
    display: none;
}
.phone{
    max-width: 1440px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    z-index: 8;
    display: none;
}
.phone.visible{
    display: block;
}
.printer{
    max-width: 1440px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    z-index: 7;
    display: none;
}
.printer.visible{
    display: block;
}
.main a{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.main a:hover{
    transition: 0.5s;
    background-color: #88c1c5;
}
.laptop a{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.phone a{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.printer a{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.laptop button{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.phone button{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.printer button{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.summary{
    max-width: 1440px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    z-index: 9;
    list-style: none;
}
.summary button{
    text-decoration: none;
    background-color: #61A6AB;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}