@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
*{
    padding: 0%;
    box-sizing: border-box;
    font-size: 30px;
    margin: 0 auto;
    font-family: sans-serif;
}

body{
    background-color: #253439;
    
}

header{


    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.form{
    max-width: 1440px;
    z-index: 100;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    /* position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%,-50%); */
    font-size: 20px;
}

.form label{
    font-size: 15px;
}
.form button{
    font-size: 20px;
    padding: 6px 15px;
    background-color: #61A6AB;
    border: 1px #61A6AB solid;
    border-radius: 10px;
    color: white;
}
.form button:hover{
    background-color: #8cc5ca;
    transition: 0.5s;
    color: black;
}
input{
    margin-bottom: 15px;
}
.logo{
    /* position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%); */
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
   
}
.logo img{
    height: 500px;
    border-radius: 10px;
}


/*new changes*/
.form.visible{
    display: none;
}
.account{
    font-size: 20px;
}
.account a{
    font-size: 20px;
}
.form1{
    max-width: 1440px;
    z-index: 1;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    /* position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%,-50%); */
    font-size: 20px;
}
.form1 label{
    font-size: 15px;
}
.form1 button{
    font-size: 20px;
    padding: 6px 15px;
    background-color: #61A6AB;
    border: 1px #61A6AB solid;
    border-radius: 10px;
    color: white;
}
.form1 button:hover{
    background-color: #8cc5ca;
    transition: 0.5s;
    color: black;
}
.form1.visible{
    display: none;
}
.hide{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 15px;
    background-color: #61A6AB;
    border: 1px #61A6AB solid;
    border-radius: 10px;
    color: white;
}
.hide a:hover{
    background-color: #8cc5ca;
    transition: 0.5s;
    color: black;
    cursor: context-menu;
}